*
	{
	Padding: 0;
Margin: 0;
	Font-size:100%;
	Line-height:1em;
	}


body{

  font-size: 85%;


    height: 100%;
    margin: 0px;
    padding: 0px;


 background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;


    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}
.section-3
{


	position: absolute;
	    right: 15%;
			bottom: 20%;



}

p{
	color: #f6f6f6;
font-family: 'Play', sans-serif;
    font-size: 4vh;




    margin-top: 5%;
		width: 50%;
		padding-left: 5%;

}


#welcome-h1
{
  color: #f6f6f6;
font-family: 'Play', sans-serif;
    font-size: 8vh;


  margin-right: 50%;

    margin-top: 20%;


}
#p2
{
  color: #f6f6f6;
  font-family: 'Muli', sans-serif;
    font-size: 3vh;

  padding-top: 2%;
  margin-right: 40%;
  padding-bottom: 5%;
  margin-left: 10%;
  line-height: 120%;



}
#p1
{
  color: #f6f6f6;
  font-family: 'Muli', sans-serif;
    font-size: 4vh;

padding-top: 2%;
  margin-right: 40%;
padding-bottom: 5%;
margin-left: 10%;
line-height: 120%;

}
img
{
  padding: 2%;
  max-width: 100%;
   height: auto;

}
h1
{
color: #f6f6f6;
font-family: 'Anton', sans-serif;
  font-size: 4vh;
  text-align: center;;

  position: relative;;
  display: block;
margin-left: 2%;
  margin-top: 15%;
}

h2
{
  top: 60%;
  left: 47%;
  color: #f6f6f6;
  font-family: muli;
  font-size: 2em;
  text-align: center;


display: block;
  position: absolute;

}

a:visited {
    text-decoration: none;
}


.atom {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  display: block;
}

.nucleus {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
	width: 30px;
	height: 30px;
  background: #f6f6f6;
	border-radius: 100%;
}

.neutron1 {
  position: relative;
	width: 15px;
	height: 15px;
  top: -10px;
  left: 25px;
  background: #af6161;
	border-radius: 100%;
  animation: ne 2s linear infinite;
}

.neutron2 {
  position: relative;
	width: 15px;
	height: 15px;
  top: -10px;
  left: 25px;
  background: #54c6eb;
	border-radius: 100%;
  animation: ne 2s linear infinite;
}
.neutron3 {
  position: relative;
	width: 15px;
	height: 15px;
  top: -10px;
  left: 25px;
  background: #048A81;
	border-radius: 100%;
  animation: ne 2s linear infinite;
}
.elipsis {
  position: absolute;
  top: 0px;
  left: 65px;
	width: 65px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 80px / 240px;
}

.elipsis:nth-of-type(2) {
  -moz-transform: rotate(55deg);
  -wekbit-transform: rotate(55deg);
  transform: rotate(55deg);
}

.elipsis:nth-of-type(2) :first-child {
  animation-delay: 0.4s;
}

.elipsis:nth-of-type(3) {
  -moz-transform: rotate(55deg);
  -weknit-transform: rotate(55deg);
  transform: rotate(-55deg);
}

.elipsis:nth-of-type(3) :first-child {
  animation-delay: 0.6s;
}

@keyframes ne {
    0% { top: -10px; left:  25px; }
    5% { top:   0px; left:  35px; }
   10% { top:  10px; left:  45px; }
   15% { top:  20px; left:  45px; }
   20% { top:  30px; left:  55px; }
   25% { top:  40px; left:  55px; }
   30% { top:  90px; left:  60px; }
   35% { top: 140px; left:  55px; }
   40% { top: 160px; left:  45px; }
   45% { top: 180px; left:  35px; }
   50% { top: 200px; left:  25px; }
   55% { top: 180px; left:  15px; }
   60% { top: 160px; left:   5px; }
   65% { top: 140px; left:  -5px; }
   70% { top:  90px; left: -10px; }
   75% { top:  40px; left:  -5px; }
   80% { top:  30px; left:   0px; }
   85% { top:  20px; left:   5px; }
   90% { top:  10px; left:  15px; }
   95% { top:   0px; left:  25px; }
  100% { top: -10px; left:  25px; }
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.slide-left-right
{
text-decoration:none;
display: inline-block;
color:#f6f6f6;
}
/* add a empty string after the elment with class .slide-left-right */
.slide-left-right:after
{
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease; /* .5 seonds for changes to the width and background-color */
-webkit-transition: width .5s ease, background-color .5s ease; /* Chrome and Safari */
-moz-transition: width .5s ease, background-color .5s ease; /* FireFox */
}
/* Change the width and background on hover, aka sliding out */
.slide-left-right:hover:after
{
width: 100%;
background: #E4C295;
}

.footer
{
background-color: #f6f6f6;



}



#astross
{

height: auto;
	 width: auto;


}
